---
- name: Ensure target host to install Proxmox is a Debian host
  fail:
    msg: "Proxmox VE can only be installed on Debian hosts"
  when: ansible_distribution != 'Debian'
- name: Get CPU architecture name
  command: dpkg --print-architecture
  changed_when: false
  register: arch
  check_mode: false
- block: # Debian hosts
  - name: Ensure python3-debian is installed for deb822_repository on Debian hosts
    package: name=python3-debian
  - name: Ensure proxmox repo is registered
    deb822_repository:
      signed_by: "https://enterprise.proxmox.com/debian/proxmox-release-{{ ansible_distribution_release }}.gpg"
      uris: http://download.proxmox.com/debian/pve
      suites: "{{ ansible_distribution_release }}"
      components: [ pve-no-subscription ]
      name: proxmox
      enabled: true
  - name: Ensure Proxmox kernel is installed
    apt: name=proxmox-default-kernel update_cache=true
    register: proxmox_kernel_installed
  - name: Ensure target host is rebooted
    reboot:
    when: proxmox_kernel_installed.changed
  - name: Ensure Proxmox VE dependencies are installed
    package: name="{{ item }}"
    with_items:
      - postfix
      - open-iscsi
      - chrony
  - name: Ensure Proxmox VE is installed
    package: name=proxmox-ve
    register: proxmox_installed
  - name: Ensure Proxmox VE installation is notified
    assert: { that: true, quiet: true }
    changed_when: proxmox_installed.failed == false
    notify: Proxmox installed
  - name: Ensure Debian kernel is removed
    apt:
      name: "{{ item }}"
      state: absent
    with_items:
      - linux-image-amd64
      - linux-image-6.1*
  - name: Ensure grub is updated
    command: update-grub
  when: ansible_os_family == 'Debian'
  become: true
