#!/bin/sh
usage() {
	cat <<-EOF
	Usage: $0 [ -c backup.conf ] [ -h | -H | --help ]

	Perform backup job with specified configuration file

	-c backup.conf | --config=backup.conf:
	    Specify a configuration file to use rather than the default one
	-h | -H | --help:
		Show this message and exit
	EOF
}

script={{ backup_home }}/backup.awk
config={{ backup_home }}/backup.conf
prio=user.info
tag=backup

longopt() {
	flag="${1%%=*}"
	arg="${1#*=}"
	case "$flag" in
	help)
		usage
		exit 0
		;;
	config)
		config="$arg"
		;;
	*)
		usage
		exit 1
		;;
	esac
}

while getopts "c:hH-:" opt; do
	case $opt in
	h|H)
		usage
		exit 0
		;;
	c)
		config="$OPTARG"
		;;
	-)
		longopt "$OPTARG"
		;;
	*)
		usage
		exit 1
		;;
	esac
done

shift "`expr $OPTIND - 1`"

[ -r "$script" ] || { echo "Missing script: $script" >&2; exit 1; }
[ -r "$config" ] || { echo "Missing config: $config" >&2; exit 1; }

awk -f "$script" "$config" | while IFS= read -r line; do
	logger -s -t "$tag" -p "$prio" "$line"
done
