---
- name: restart WireGuard service on macOS
  community.general.launchd:
    name: com.wireguard.wg0
    enabled: yes
    state: restarted
  become: true

- name: restart WireGuard service on OpenBSD
  command: sh /etc/netstart
  when: wireguard['start_at_boot'] is defined and wireguard['start_at_boot'] == true
  become: true

- name: restart WireGuard service
  service:
    name: wg-quick@wg0
    enabled: yes
    state: restarted
  when: wireguard['start_at_boot'] is defined and wireguard['start_at_boot'] == true and ansible_distribution not in ['OpenBSD']
  become: true
