---
- block: # Debian hosts
  - name: Ensure python3-debian is installed for deb822_repository on Debian hosts
    package: name=python3-debian
  - name: Ensure Visual Studio Code repo is installed on Debian hosts
    deb822_repository:
      signed_by: https://packages.microsoft.com/keys/microsoft.asc
      uris: https://packages.microsoft.com/repos/code
      suites: stable
      components: [ main ]
      name: vscode
      enabled: true
  - name: Ensure Visual Studio Code is installed on Debian hosts
    apt: name=code update_cache=yes
  when: ansible_os_family == 'Debian' and (development_tools is defined and 'vscode' in development_tools)
  become: true
- block: # Red Hat hosts
  - name: Ensure Microsoft PGP key is installed on Red Hat hosts
    rpm_key: key=https://packages.microsoft.com/keys/microsoft.asc
  - name: Ensure Microsoft yum repository is installed on Red Hat hosts
    yum_repository:
      name: code
      file: vscode
      description: Visual Studio Code
      baseurl: https://packages.microsoft.com/yumrepos/vscode
      gpgkey: https://packages.microsoft.com/keys/microsoft.asc
      enabled: true
      gpgcheck: true
  - name: Ensure Visual Studio Code is installed on Red Hat hosts
    package: name=code
  when: ansible_os_family == 'RedHat' and (development_tools is defined and 'vscode' in development_tools)
  become: true
- name: Ensure Visual Studio Code is installed on FreeBSD
  package: name=vscode
  when: ansible_os_family == 'FreeBSD' and (development_tools is defined and 'vscode' in development_tools)
  become: true
- name: Ensure Visual Studio Code is installed on macOS
  homebrew_cask:
    name: visual-studio-code
    sudo_password: "{{ ansible_become_pass }}"
  when: ansible_os_family == 'Darwin' and (development_tools is defined and 'vscode' in development_tools)
