---
- block: # Need privileged operation
  - block: # Add Packer repo on Debian hosts
    - name: Ensure python3-debian is installed for deb822_repository on Debian hosts
      package: name=python3-debian
    - block: # Determine Devuan codename
      - name: Get Debian version
        shell: cat /etc/debian_version | sed 's/^\([0-9][0-9]*\)\..*$/\1/'
        register: debian_version
        when: ansible_distribution_file_variety == "Debian"
        check_mode: false
      - name: Ensure Packer repo is registered on Devuan
        deb822_repository:
          signed_by: hhttps://apt.releases.hashicorp.com/gpg
          uris: https://apt.releases.hashicorp.com
          suites: "{{ codenames[ansible_lsb.codename] }}"
          components: [ main ]
          name: hashicorp
          enabled: true
        vars:
          codenames: "{{ [
            {'devuan_codename': 'excalibur', 'debian_codename': 'trixie'},
            {'devuan_codename': 'daedalus', 'debian_codename': 'bookworm'},
            {'devuan_codename': 'chimaera', 'debian_codename': 'bullseye'},
            {'devuan_codename': 'beowulf', 'debian_codename': 'buster'},
            {'devuan_codename': 'ascii', 'debian_codename': 'stretch'},
            {'devuan_codename': 'jessie', 'debian_codename': 'jessie'}
           ]| items2dict(key_name='devuan_codename', value_name='debian_codename')}}"
      when: ansible_distribution == 'Devuan'
    - name: Ensure Packer repo is registered on Debian family except Devuan
      deb822_repository:
        signed_by: hhttps://apt.releases.hashicorp.com/gpg
        uris: https://apt.releases.hashicorp.com
        suites: "{{ ansible_lsb.codename }}"
        components: [ main ]
        name: hashicorp
        enabled: true
      when: ansible_distribution != 'Devuan'
    when: ansible_os_family == 'Debian'
  - block: # Add Packer repository on Fedora
    - name: Ensure dnf plugins is installed on Fedora
      package: name=dnf-plugins-core
    - name: Ensure HashiCorp repository is installed on Fedora
      command:
        cmd: dnf config-manager --add-repo https://rpm.releases.hashicorp.com/fedora/hashicorp.repo
        creates: /etc/yum.repos.d/hashicorp.repo
    when: ansible_distribution == 'Fedora'
  - name: Ensure Packer is installed except on Arch Linux hosts
    package: name=packer
    when: ansible_system in ['Darwin', 'FreeBSD', 'Linux'] and ansible_os_family not in ['Archlinux', 'Artix Linux']
  - block: # Install Packer on Arch Linux hosts
    - name: Ensure GNU stow is installed on Arch Linux hosts
      package: name=stow
    - name: Ensure Packer directory is created on Arch Linux hosts
      file:
        path: /usr/local/share/packer-{{ archlinux_packer_version }}/{{ item }}
        recurse: true
        state: directory
      with_items:
        - bin
        - doc
    - name: Ensure Packer is downloaded on Arch Linux hosts
      unarchive:
        src: https://releases.hashicorp.com/packer/{{ archlinux_packer_version }}/packer_{{ archlinux_packer_version }}_linux_amd64.zip
        dest: /usr/local/share/packer-{{ archlinux_packer_version }}
        remote_src: true
    - name: Ensure Packer binary is moved into bin directory on Arch Linux hosts
      command: mv /usr/local/share/packer-{{ archlinux_packer_version }}/packer /usr/local/share/packer-{{ archlinux_packer_version }}/bin/
      args:
        creates: /usr/local/share/packer-{{ archlinux_packer_version }}/bin/packer
    - name: Ensure Packer document is moved into doc directory on Arch Linux hosts
      command: mv /usr/local/share/packer-{{ archlinux_packer_version }}/LICENSE.txt /usr/local/share/packer-{{ archlinux_packer_version }}/doc/
      args:
        creates: /usr/local/share/packer-{{ archlinux_packer_version }}/doc/LICENSE.txt
    - name: Ensure packer is available on Arch Linux hosts
      command: stow -d /usr/local/share -t /usr/local packer-{{ archlinux_packer_version }}
      args:
        creates: /usr/local/bin/packer
    when: "ansible_os_family in ['Archlinux', 'Artix Linux']"
  become: "{{ false_for_macos }}"
- name: Ensure Packer is installed on Windows hosts
  win_chocolatey: name=packer
  when: ansible_os_family == 'Windows'
